/*TAG SELECTORS*/
body{
    font-family: 'Overpass', sans-serif;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#e7c32b;
}

h6 {
    color:black;
}

/*CLASS SELECTORS*/
.navbar{
    padding-bottom: 30px;
}
.navbar-brand {
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    color: #e7c32b;
    font-family: 'Arizonia', cursive;
}

.footercontent
{
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9)), url(./cpubackgroundimage.jpg);
	background-size: 100% 100%;
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Permanent Marker', cursive;
    color: #e7c32b;
	
}

.welcome-heading{
    font-family: 'Permanent Marker', cursive;
}

.biocontent
{
    background-color: #cfcfcf;

}
.projectscontent{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9)), url('http://pavbca.com/walldb/original/b/f/d/115598.jpg');
    background-size: cover;
    background-position: center;
    color: #e7c32b;
}
.biotext{
    padding-top: 3%; 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('http://2.bp.blogspot.com/-hCbufL975rw/UQ048pcl8bI/AAAAAAAAACM/74HmNRYt9hY/s1600/sky_at_night_2_hd_widescreen_wallpapers_1920x1200.jpeg');
    color: #e7c32b;
    border: 5px solid white;
    border-radius: 10%;
}

.biocarousel{
    text-align: center;
}

.row{
    padding: 3%;
}

.one{
    height: 100%;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon1:after
{
  content: '>';
  font-size: 27px;
  color: blue;
}

.carousel-control-prev-icon1:after {
  content: '<';
  font-size: 27px;
  color: blue;
}

.parent-container {
   display: flex;
}

.header{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    color: #ffffff;
}
.header p{
    color: #e7c32b;
    font-size: 64px;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);

}
.content{
    z-index: 10;
}

.topic{
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    background-color: #000000;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
.googleborder{
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}
/*ID SELECTORS*/
#map {
    height: 100%;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 20px;
    }
}